<!-- <h4 class="mb-3">Gestion de la Boutique</h4> -->
<button type="button" class="btn btn-warning m-3" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  <i class="fas fa-plus-circle p-1"></i>Categorie
</button>

<ng-container *ngIf="categorieData.length!=0">
 <div class="" >
  <div class="container mt-3">
    <div class="card mb-3 bg-warning" style="width: 19rem; height: 9rem;" *ngFor="let categorie of categorieData">
      <div class="card-body">
        <h5 class="card-title text-center">{{categorie.libelle}}</h5>
        <p class="card-text">{{categorie.description}}</p>
        <div class="text-center" style="margin-bottom: 0px;">
          <button class="btn btn-dark text-warning" (click)="NavigateElement()"><i class="fa fa-eye"></i></button>
        </div>
      </div>
    </div>
  </div>
 </div>
</ng-container>
<ng-container *ngIf="categorieData.length==0">
  <div class="">
    <h5 class="m-3">La liste est vide !</h5>
  </div>
</ng-container>


<!-- Modal Ajout Categorie Stock-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Categorie</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categorieForm">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Libelle</span>
            <input type="text" class="form-control" placeholder="Saisir le libelle" formControlName="libelle">
          </div>
          <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="Saisir la description" formControlName="description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-success" (click)="addCategorie(this.categorieForm.value)" [disabled]="categorieForm.invalid">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
