.navbar{
  background-color: #1e3d59;
}
.navbar-brand{
  color:#ff6e40;
}
.navbar-toggler{
  background-color:#ff6e40;
}
.offcanvas-body{
  background-color:#1e3d59;
}
.offcanvas-header{
  height:55px;
  background-color:#f5f0e1;
  color:#ff6e40;
}
.nav-link{
  color:#ff6e40;
}

.btn{
  border:1px solid #1e3d59;
}
