<!-- <h4 class="mb-3">Gestions des Clients</h4> -->
<button type="button" class="btn btn-warning m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fas fa-user-plus p-1"></i>Client
</button>

<!-- Modal Ajout Client-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Client</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="clientForm">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Prenom</span>
            <input type="text" class="form-control" formControlName="prenom" placeholder="Saisir le Prenom">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nom</span>
            <input type="text" class="form-control" formControlName="nom" placeholder="Saisir le nom ">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">N°Tel</span>
            <input type="number" class="form-control" formControlName="numeroTel" placeholder="Saisir le numero telephone">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Mesure</span>
            <input type="text" class="form-control" formControlName="mesure" placeholder="Saisir le mesure">
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-success" (click)="submitClient(this.clientForm.value)" [disabled]="clientForm.invalid">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>

<!-----LISTER CLIENTS------------------>
  <ng-container *ngIf="dataClient?.length!=0">
    <div class="m-3 table-responsive">
    <table class="table table-bordered border-warning table-dark table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-warning" style="max-width:15px;">Num</th>
          <th scope="col" class="text-warning">Nom</th>
          <th scope="col"class="text-warning">Prenom</th>
          <th scope="col"class="text-warning">N° Tel</th>
          <th scope="col"class="text-warning"class="text-warning" style="max-width:14px;">Mesure</th>
          <th colspan="2"class="text-warning">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataClient">
          <td>{{item.id}}</td>
          <td>{{item.nom}}</td>
          <td>{{item.prenom}}</td>
          <td>{{item.numeroTel}}</td>
          <td>{{item.mesure}}</td>
          <td><button class="btn btn-warning" routerLink="/updateClient/{{item.id}}"><i class="fas fa-edit"></i></button></td>
          <td><button class="btn btn-danger" (click)="deleteClient(item.id)"><i class="fas fa-archive"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  </ng-container>

  <ng-container *ngIf="dataClient?.length==0">
     <p>La liste est vide</p>
  </ng-container>





