
<!--Ajouter Un Produit Boutique----------->
<div class="container-fluid d-flex p-3 justify-content-md-between">
<button class="btn btn-warning mt-2" (click)="navigatePrevious()" style="height: 37px; width: 35px;"><i class="fa fa-reply"></i></button>
<button type="button" class="btn btn-warning m-2"  data-bs-toggle="modal"
  data-bs-target="#exampleModal2">
  <i class="fas fa-plus-circle p-1"></i>Model
</button>
</div>



<!-- Modal Ajout Categorie Stock-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Modele</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" [formGroup]="produitForm">
          <div class="input-group mb-3">
              <span class="input-group-text bg-black text-warning">Libelle</span>
              <input type="text" class="form-control" placeholder="Saisir le libelle" formControlName="libelle">
            </div>
          <div class="row">
              <div class="col input-group mb-3">
                <span class="input-group-text bg-black text-warning" >Quantite</span>
                <input type="text" class="form-control" placeholder="Saisir la quantite" formControlName="quantite">
              </div>
              <div class="col input-group mb-3">
              <span class="input-group-text bg-black text-warning" >Taille</span>
              <input type="text" class="form-control" placeholder="Saisir la taille" formControlName="taille">
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text bg-black text-warning">Prix</span>
            <input type="text" class="form-control" placeholder="Saisir le prix" formControlName="prix">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-warning" (click)="addProduit(produitForm.value)" [disabled]="produitForm.invalid">Enregistrer</button>
      </div>
    </div>
  </div>
</div>

<!-----LISTE CATEGROIE------------------>

<!-- <h5 class="mt-5 mb-4">Liste des Categories Boutiques</h5> -->
<!-- <select class="form-select mb-5 w-25 bg-info mt-4" aria-label="Filter par : Ex: Tissu">
  <option selected>Filter Par : </option>
  <option value="1">Boutique Yaya</option>
  <option value="2">Sante Yalla Boutique</option>
  <option value="3">Lametoro Boutique</option>
</select> -->




<!-----LISTE PRODUIT---------------->
<ng-container *ngIf="produitData.length!=0">
  <div class="container mt-3">
    <div class="card" *ngFor="let produit of produitData">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><small>Modéle: </small>{{produit.libelle}}</li>
          <li class="list-group-item"><small>Taille: </small>{{produit.taille}}</li>
          <li class="list-group-item"><small>Prix: </small>{{produit.prix}}</li>
          <li class="list-group-item"><small>Quantité: </small>{{produit.quantite}}</li>
        </ul>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="produitData.length==0">
  <div class="">
    <h5 class="mx-3 text-white">La liste est vide !</h5>
  </div>
</ng-container>



