<h3 class="">Dashboard</h3>

<div class="container">
  <div class="card text-white mb-3 bg-primary">
    <div class="card-body">
      <h5 class="card-title text-center ">Client:</h5>
      <p class="card-text text-center"><strong>100</strong> </p>
      <div class="text-center">
        <div class="btn btn-perso text-white" (click)="navigateClient()">Consulter</div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title text-center">Commandes:</h5>
      <p class="card-text text-center"><strong>100</strong></p>

      <div class="text-center">
        <div class="btn btn-perso" (click)="navigateCommande()">Consulter</div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-success mb-3">
    <div class="card-body">
      <h5 class="card-title text-center">Stocks:</h5>
      <p class="card-text text-center"><strong>100</strong></p>
      <div class="text-center">
        <div class="btn btn-perso" (click)="navigateStock()">Consulter</div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-info mb-3">
    <div class="card-body">
      <h5 class="card-title text-center">Boutiques:</h5>
      <p class="card-text text-center"><strong>100</strong></p>
      <div class="text-center">
        <div class="btn btn-perso" (click)="navigateBoutique()">Consulter</div>
      </div>
    </div>
  </div>
</div>
<h4 class="mt-4">Info Clients:</h4>
<div class="">
  <table class="table table-bordered border-danger table-info table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Date_Auth</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Omar DIOP</td>
        <td>odiop@gmail.com</td>
        <td>12 Decembre 2023</td>
        <td><button class="btn btn-primary">Consulter</button></td>
        <td><button class="btn btn-danger">Supprimer</button></td>
      </tr>
    </tbody>
  </table>
</div>
