<!-- <h3 class="">Dashboard</h3>
<div class="container">
  <div class="card text-white mb-3 bg-primary">
    <div class="card-body">
      <h5 class="card-title text-center ">Client:</h5>
      <p class="card-text text-center"><strong>100</strong> </p>
      <div class="text-center">
        <div class="btn btn-perso text-white" (click)="navigateClient()">Consulter</div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title text-center">Commandes:</h5>
      <p class="card-text text-center"><strong>100</strong></p>

      <div class="text-center">
        <div class="btn btn-perso" (click)="navigateCommande()">Consulter</div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-success mb-3">
    <div class="card-body">
      <h5 class="card-title text-center">Stocks:</h5>
      <p class="card-text text-center"><strong>100</strong></p>
      <div class="text-center">
        <div class="btn btn-perso" (click)="navigateStock()">Consulter</div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-info mb-3">
    <div class="card-body">
      <h5 class="card-title text-center">Boutiques:</h5>
      <p class="card-text text-center"><strong>100</strong></p>
      <div class="text-center">
        <div class="btn btn-perso" (click)="navigateBoutique()">Consulter</div>
      </div>
    </div>
  </div>
</div> -->
<ngb-carousel *ngIf="images">
<ng-template ngbSlide *ngFor="let image of images">
  <div class="carousel-wrapper">
    <img src="assets/{{image.name}}" [alt]="image.caption">
    <div class="caption">{{image.caption}}</div>
  </div>
</ng-template>
</ngb-carousel>
