<h3 class="text-center">Dashboard</h3>

<div class="container">
  <div class="card text-white bg-primary mb-3">
    <div class="card-body">
      <h5 class="card-title">Tailleurs:</h5>
      <p class="card-text">100</p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title">Produits:</h5>
      <p class="card-text">100</p>
    </div>
  </div>
  <div class="card text-white bg-success mb-3">
    <div class="card-body">
      <h5 class="card-title">Commandes:</h5>
      <p class="card-text">100</p>
    </div>
  </div>
  <div class="card text-white bg-info mb-3">
    <div class="card-body">
      <h5 class="card-title">Ventes:</h5>
      <p class="card-text">100</p>
    </div>
  </div>
</div>
<h4 class="mt-4 text-center">Info Tailleur</h4>
<div class="">
    <table class="table table-bordered border-danger table-info table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Date_Auth</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Omar DIOP</td>
          <td>odiop@gmail.com</td>
          <td>12 Decembre 2023</td>
          <td><button class="btn btn-primary">Consulter</button></td>
          <td><button class="btn btn-danger">Supprimer</button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob Thorson</td>
          <td>jacob@gmail.com</td>
          <td>@12 Decembre 2023</td>
          <td><button class="btn btn-primary">Consulter</button></td>
          <td><button class="btn btn-danger">Supprimer</button></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry Kiry</td>
          <td>larry@gmail.com</td>
          <td>12 Decembre 2023</td>
          <td><button class="btn btn-primary">Consulter</button></td>
          <td><button class="btn btn-danger">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
</div>

