<!-- <h4 class="mb-3">Gestion de la Boutique</h4> -->
<button type="button" class="btn btn-warning m-3" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  <i class="fas fa-plus-circle p-1"></i>Categorie
</button>

<div class="container mt-3">
  <div class="card mb-3 bg-warning" style="width: 18rem;" *ngFor="let product of Categorie">
    <div class="card-body">
      <!-- <h5 class="card-title text-center">{{product.libelle}}</h5> -->
      <div class="text-center">
        <!-- <h5 class="">{{countCategorie}}</h5> -->
      </div>
    </div>
  </div>
<!-- </div> -->
<button (click)="getAllBoutique()">Shop</button>
<button (click)="getClient()">Client</button>
<div class="col">
  <select name="" id="">
    <option selected>Boutique</option>
    <option *ngFor="let boutique of boutiqueData" [value]="boutique._id">{{boutique.manager.firstName}}</option>
  </select>
</div>
<div class="col">
  <select class="form-select" aria-label="Choisir une Boutique" formControlName="shopId">
    <option selected>Choisir une boutique</option>
    <option *ngFor="let shop of boutiqueData" [value]="shop._id" class="text-black">{{shop._id}}</option>
  </select>
</div>
</div>
<ul>
  <li *ngFor="let client of clientData">{{client.firstName}}</li>
</ul>


<!-- Modal Ajout Categorie Stock-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Categorie</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Libelle</span>
            <input type="text" class="form-control" placeholder="Saisir le libelle">
          </div>
          <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="Saisir la description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
