<h4 class="mb-3">Gestions du Stock</h4>
<button type="button" class="btn" style="background-color: #ff6e40;" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  Ajouter une catagorie
</button>

<!-- Modal Ajout Categorie Stock-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Categorie</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Libelle</span>
            <input type="text" class="form-control" placeholder="Saisir le libelle">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Quantite</span>
            <input type="text" class="form-control" placeholder="Saisir la quantite">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Prix</span>
            <input type="number" class="form-control" placeholder="Saisir le prix">
          </div>
          <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="Saisir la description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </div>
</div>

<!-----LISTE CATEGROIE------------------>

<h5 class="mt-5 mb-4">Liste des Categories</h5>
<select class="form-select mb-5 center w-25" style="background-color:#ff6e40;" aria-label="Filter par : Ex: Tissu">
  <option selected>Filter Par : </option>
  <option value="1">Tissu</option>
  <option value="2">Ganila</option>
  <option value="3">Bazin</option>
</select>

<div class="">
  <table class="table table-bordered border-danger table-info table-striped">
    <thead>
      <tr>
        <th scope="col">Libelle</th>
        <th scope="col">Quantite</th>
        <th scope="col">Prix</th>
        <th scope="col">Description</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tissu</td>
        <td>23</td>
        <td>1200</td>
        <td>Tissu venant du Mali</td>
        <td><button class="btn btn-warning">Modifier</button></td>
        <td><button class="btn btn-danger">Supprimer</button></td>
      </tr>
      <tr>
        <td>Ganila</td>
        <td>10</td>
        <td>20000</td>
        <td>Ganila du Senegal</td>
        <td><button class="btn btn-warning">Modifier</button></td>
        <td><button class="btn btn-danger">Supprimer</button></td>
      </tr>
    </tbody>
  </table>
</div>
